<%= form_with(model: trade, local: true) do |form| %>
  <% if trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
        <% trade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :screen %>
    <%= form.file_field :screen %>
    <% if(trade.screen.attached?) %>
      <img src="<%= url_for(trade.screen)  %>" style="height:auto;width:auto;max-height:100px;">
    <% end %>
  </div>
  <div class="field">
    <%= form.label :screen_sentiment_mn %>
    <%= form.file_field :screen_sentiment_mn %>
    <% if(trade.screen_sentiment_mn.attached?) %>
      <img src="<%= url_for(trade.screen_sentiment_mn)  %>" style="height:auto;width:auto;max-height:100px;">
    <% end %>
  </div>
  <div class="field">
    <%= form.label :screen_sentiment_w1 %>
    <%= form.file_field :screen_sentiment_w1 %>
    <% if(trade.screen_sentiment_w1.attached?) %>
      <img src="<%= url_for(trade.screen_sentiment_w1)  %>" style="height:auto;width:auto;max-height:100px;">
    <% end %>
  </div>
  <div class="field">
    <%= form.label :screen_sentiment_d1 %>
    <%= form.file_field :screen_sentiment_d1 %>
    <% if(trade.screen_sentiment_d1.attached?) %>
      <img src="<%= url_for(trade.screen_sentiment_d1)  %>" style="height:auto;width:auto;max-height:100px;">
    <% end %>
  </div>
  <div class="field">
    <%= form.label :screen_sentiment_h4 %>
    <%= form.file_field :screen_sentiment_h4 %>
    <% if(trade.screen_sentiment_h4.attached?) %>
      <img src="<%= url_for(trade.screen_sentiment_h4)  %>" style="height:auto;width:auto;max-height:100px;">
    <% end %>
  </div>
  <div class="field">
    <%= form.label :screen_sentiment_h1 %>
    <%= form.file_field :screen_sentiment_h1 %>
    <% if(trade.screen_sentiment_h1.attached?) %>
      <img src="<%= url_for(trade.screen_sentiment_h1)  %>" style="height:auto;width:auto;max-height:100px;">
    <% end %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :esecuzione %>
    <%= form.select(:esecuzione, [['', ''], ['Effettuato', 'effettuato'], ['Mancato', 'mancato'], ['Fuori strategia', 'fuori']]) %>
  </div>

  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol, list: "symbols" %>
    <datalist id="symbols">
      <option value="EURUSD">
      <option value="EURJPY">
      <option value="GBPUSD">
      <option value="GBPCHF">
      <option value="GBPJPY">
      <option value="XAUUSD">
      <option value="US500">
    </datalist>
  </div>

  <div class="field">
    <%= form.label :sentiment %>
    <%= form.select(:sentiment, [['', ''], ['Rialzista', 'Rialzista'], ['Rialzista leggero', 'Rialzista leggero'], ['Neutro', 'Neutro'], ['Ribassista leggero', 'Ribassista leggero'], ['Ribassista', 'Ribassista']]) %>
  </div>

  <div class="field">
    <%= form.label :macropattern %>
    <%= form.text_field :macropattern, list: "macropatterns" %>
    <datalist id="macropatterns">
      <option value="Triangolo">
      <option value="Triangolo rettangolo favorevole">
      <option value="Triangolo rettangolo sfavorevole">
      <option value="Triangolo isoscele">
      <option value="Rettangolo">
      <option value="Bandiera">
      <option value="Testa-spalle">
      <option value="Round-bottom">
    </datalist>
  </div>

  <div class="field">
    <%= form.label :note_macro %>
    <%= form.text_area :note_macro, list: "note_macros" %>
    <datalist id="note_macros">
      <option value="Macropattern non ben definito">
      <option value="Trendline Macro leggermente forate">
      <option value="Macro piccolo">
      <option value="Macro enorme">
      <option value="Regola del 2x scarsa (NON rispettata)">
    </datalist>
  </div>

  <div class="field">
    <%= form.label :zona_critica %>
    <%= form.select(:zona_critica, [['', ''], ['Davanti al Trade', 'davanti'], ['Dietro al Trade', 'dietro'], ['Sopra alla master', 'sorpa']]) %>
  </div>

  <div class="field">
    <%= form.label "#{:angolo_trendline} (<25° >320°)" %>
    <%= form.number_field :angolo_trendline, max:360, min:0%>
  </div>

  <div class="field">
    <%= form.label :nome_micro %>
    <%= form.select(:nome_micro, [['', ''],['Porcospino', 'Porcospino'],['Rino', 'Rino'],['Chiesa', 'Chiesa'],['Scoiattolo', 'Scoiattolo'],['Scoiattolo inverso', 'Scoiattolo inverso'],['Gallina', 'Gallina'],['Pinguino', 'Pinguino'],['Pettine', 'Pettine'],['Squalo', 'Squalo'],['ABC Rino', 'ABC Rino'],['ABC Chiesa', 'ABC Chiesa'],['ABC Scoiattolo', 'ABC Scoiattolo'],['ABC Scoiattolo inverso', 'ABC Scoiattolo inverso'],['ABC Gallina', 'ABC Gallina'],['ABC Pinguino', 'ABC Pinguino']]) %>
  </div>

  <div class="field">
    <%= form.label :note_micro %>
    <%= form.text_area :note_micro, list: "note_micros" %>
    <datalist id="note_micros">
      <option value="Perfetto!">
      <option value="Master piccolina">
      <option value="Doji sporca">
      <option value="cresta pettine esagerata">
      <option value="Regola del 2x scarsa (NON rispettata)">
    </datalist>
  </div>

  <div class="field">
    <%= form.label :data_micro %>
    <%= form.datetime_select :data_micro %>
  </div>

  <div class="field">
    <%= form.label :configurazione_pivot %>
    <%= form.select(:configurazione_pivot, [['', ''],['Rialzista', 'rialzista'],['Neutra', 'neutra'],['Ribassista', 'ribassista']]) %>
  </div>

  <div class="field">
    <%= form.label :configurazione_daily %>
    <%= form.select(:configurazione_daily, [['', ''],['Testato', 'testato'],['NON testato a favore', 'non testato a favore'],['NON testato sfavorevole', 'non testato sfavorevole']]) %>
  </div>

  <div class="field">
    <%= form.label :pivot_giornalieri %>
    <%= form.select(:pivot_giornalieri, [['', ''],['Zona verde', 'zona verde'],['Zona gialla', 'zona gialla'],['Zona rossa', 'zona rossa']]) %>
  </div>

  <div class="field">
    <%= form.label :distanza_pivot %>
    <%= form.select(:distanza_pivot, [['', ''],['Vicini', 'vicini'],['Neutra', 'neutra'],['Distanti', 'distanti']]) %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.select(:rating, [['', ''],['AAA', 'AAA'],['AA', 'AA'],['A', 'A']]) %>
  </div>

  <div class="field">
    <%= form.label :buy %>
    <%= form.check_box :buy %>
  </div>

  <div class="field">
    <%= form.label :timeframe %>
    <%= form.select(:timeframe, [['', ''],['M15', 'M15'],['M30', 'M30'],['H1', 'H1'],['H4', 'H4'],['D1', 'D1']]) %>
  </div>

  <div class="field">
    <%= form.label :prezzo_entrata %>
    <%= form.number_field :prezzo_entrata, step:0.0001 %>
  </div>

  <div class="field">
    <%= form.label :prezzo_sl %>
    <%= form.number_field :prezzo_sl, step:0.0001 %>
  </div>

  <div class="field">
    <%= form.label :lotti %>
    <%= form.number_field :lotti, step:0.01, min:0.01, max:99 %>
  </div>

  <div class="field">
    <%= form.label "#{:tp1} in pip" %>
    <%= form.number_field :tp1 %>
  </div>

  <div class="field">
    <%= form.label "#{:tp2} in pip" %>
    <%= form.number_field :tp2, min:5 %>
  </div>

  <div class="field">
    <%= form.label "#{:resa} (es. 1.2x)" %>
    <%= form.number_field :resa, step:0.1,min:0.5 %>x
  </div>

  <div class="field">
    <%= form.label :ostacoli_tp1 %>
    <%= form.select(:ostacoli_tp1, [['', ''],['Nessuno', 'nessuno'],['Pivot', 'pivot'],['Max e Min', 'maxmin'],['Trendline', 'trendline'],['Zona critica', 'zonacritica'],['2 ostacoli', '2'],['3 ostacoli', '3'],['4 ostacoli', '4']]) %>
  </div>

  <div class="field">
    <%= form.label :resa_tp2 %>
    <%= form.select(:resa_tp2, [['', ''],['Sottostimata', 'sottostimata'],['Esagerata', 'esagerata'],['Giusta', 'giusta']]) %>
  </div>

  <div class="field">
    <%= form.label :risultato %>
    <%= form.select(:risultato, [['', ''],['Win !!!!!', 'win'],['Free Trade', 'freetrade'],['Loss', 'loss'],['Expire', 'expire'],['Close for news', 'close news']]) %>
  </div>

  <div class="field">
    <%= form.label :ragioni_uscita %>
    <%= form.text_area :ragioni_uscita, list: "ragioni_uscitas" %>
    <datalist id="ragioni_uscitas">
      <option value="Min/Max precedenti">
      <option value="Pivot giornalieri">
      <option value="Pivot">
      <option value="Trendline ostacolo">
      <option value="Minimo da strategia">
    </datalist>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :confidenza %>
    <%= form.range_field :confidenza,:min=>0, :max=>10 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
