<p id="notice"><%= notice %></p>

<h1>Trades</h1>
<br>
<%= link_to 'New Trade', new_trade_path %>
<br>
<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Cerca
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <%# aggiungere date e filtri %>
  <div>
    Ordinati per
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to('Reset filters', reset_filterrific_url) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>
<div id="filterrific_results">
  <div>
    <%= page_entries_info @trades  %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Timeframe</th>
        <th>Direzione</th>
        <th>Nome micro</th>
        <th>Data micro</th>
        <th>Esecuzione</th>
        <th>Sentiment</th>
        <th>Macropattern</th>
        <th>Rating</th>
        <th>Prezzo entrata</th>
        <th>Prezzo sl</th>
        <th>Resa</th>
        <th>Risultato</th>
        <th>Confidenza</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @trades.each do |trade| %>
        <tr class="<%= trade.risultato == "" ? "incompleto" : trade.risultato %><%= trade.esecuzione == "mancato" ? "mancato":"" %>">
          <td><%= trade.symbol %></td>
          <td><%= trade.timeframe %></td>
          <td><%= trade.buy ? "Buy" : "Sell" %></td>
          <td><%= trade.nome_micro %></td>
          <td><%= trade.data_micro.strftime('%F|%H:%M') %></td>
          <td><%= trade.esecuzione %></td>
          <td><%= trade.sentiment %></td>
          <td><%= trade.macropattern %></td>
          <td><%= trade.rating %></td>
          <td><%= trade.prezzo_entrata %></td>
          <td><%= trade.prezzo_sl %></td>
          <td><%= trade.resa %>x</td>
          <% if trade.risultato == "" %>
            <td>
              <%= form_with(model: trade, local: true) do |form| %>
                <%= form.select(:risultato, [['', ''],['Win !!!!!', 'win'],['Free Trade', 'freetrade'],['Loss', 'loss'],['Expire', 'expire'],['Close for news', 'close news']]) %>
                <%= form.submit %>
              <% end %>
            </td>
          <% else %>
            <td><%= trade.risultato %></td>
          <% end %>
          <td><%= trade.confidenza %></td>
          <td><%= link_to 'Show', trade %></td>
          <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
          <td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= will_paginate @trades %>
<br>
<br>
<%= link_to 'New Trade', new_trade_path %>
