<p id="notice"><%= notice %></p>

<h1>Trades</h1>
<br>
<%= link_to 'New Trade', new_trade_path %>
<br><br>
<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific , html: { id: 'filterrific-no-ajax-auto-submit', remote:true} do |f| %>

  <%# aggiungere date e filtri %>
  <div>
    Da
    <%= f.text_field(:with_data_micro_da, class: 'js-datepicker') %>
  </div>
  <div>
    A
    <%= f.text_field(:with_data_micro_a, class: 'js-datepicker') %>
  </div>
  <div>
    Ordinati per
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to('Reset filters', reset_filterrific_url) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
  <%= f.submit 'Filter' %>
<% end %>

<%= render(
  partial: 'trades/list_trades',
  locals: { trades: @trades }
) %>

<br>
<br>
<%= link_to 'New Trade', new_trade_path %>
